html {
    min-height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    padding: 30px;
    background-image: url('../../assets/images/background.jpg');
    opacity: 0.5;
    background
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: Blackwood-Castle-Reg;
}


@font-face {
font-family: Blackwood-Castle;
src: url(blackwood-castle.shadow.ttf);
}

@font-face {
    font-family: Blackwood-Castle-Reg;
    src: url(blackwood-castle.regular.ttf);
    }

h3 {
    padding-top: 30px;
    padding-bottom: 15px;
    color: white;
    /*color: white;
    text-shadow: -2px 0 #313131, 0 2px #313131, 2px 0 #313131, 0 -2px #313131;
    */
    font-family: Blackwood-Castle-Reg;

}

p {

    font-family: Blackwood-Castle-Reg;
}


#selected-character-div, #enemies-div, #selected-enemy-div {
    display: none;
}

.card {
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
}

.card-img-top {
    height: 150px;
}